#nb-div {
  height: 156px;
  background-color: #006000;
}

#nb-div .ui.header {
  font-size: 34px;
  /* font-weight: bold; */
  /* line-height: 156px;; */
  color: white;
  /* top: 55px; */
  /* position: absolute; */
  position: relative;
}

/* #nb-home */

#nb-view {
  left: 200px;
}

#nb-report {
  left: 400px;
  top: 55px;
}

#nb-forum {
  left: 600px;
}

#nb-div img {
  height: 74px;
  width: auto;
  /* top: 41px; */
  top: -15px;
}
