.ui.ui.ui.grid.container {
  width: 90rem;
  margin-top: 5rem;
}

.banner {
  width: 100%;
  height: 22.7rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.mission {
  position: absolute;
  top: 3rem;
  right: 2rem;
  max-width: 100%;
  padding-left: 2.8rem !important;
}

.orange-box {
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #ffa642;
  border-width: 1.5rem;
  width: 24rem;
  height: 29rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
}

.ui.centered.image {
  margin-bottom: 3rem;
  margin-left: 18%;
}

.ui.button {
  padding: 1em 1.4em 0.6em 1.9em;
}

.ui.header:not(.icon) > .icons:only-child,
.ui.header:not(.icon) > i.icon:only-child {
  margin-right: 0;
}

#what-lolo-img {
  margin-bottom: 2.5rem;
}

#what-lolo {
  margin-bottom: -2.5rem;
}

#about-us-container {
  width: 67rem;
  margin-bottom: 5rem;
}

#about-us-text {
  margin-right: 2rem;
}