.authbutton {
  background-color: white !important;
  font-size: 1.14rem !important;
  font-weight: normal !important;
  padding: 1rem 2rem 1rem 2rem !important;
  box-shadow: 0 2px !important;
  border-style: solid !important;
  border-width: 0.1rem !important;
  border-radius: 0.5rem !important;
  white-space: nowrap !important;
}
