#mapContainer {
  height: 25rem;
  width: 100%;
}

/* #table-wrapper {
  position: relative;
} */

#table-scroll {
  /* height: 34rem; */
  height: 37.75rem;
  overflow: auto;
  /* margin-top:20px; */
}

.ui.table {
  border-top: none !important;
}
/* th,
tr,
thead {
  box-sizing: border-box;
} */

/* #table-wrapper table {
  width:100%
}  */

/* #table-wrapper table thead th .text {
  position: absolute;
  top:-20px;
  height:20px;
  z-index: 2;
  width:35%
}
 */
.ui.table thead tr:first-child > th {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* tbody {
  display: block;
  height: 34.2rem;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  display: table;
  width: 97.7%;
  table-layout: fixed;
} */
